
@{
    ViewBag.Title = "HMBot Home";
}

<div class="page-header">
    <h1>HMBot <small> 한미IT Chatbot HackFest</small></h1>
</div>
<p class="lead">한미IT 일정관리 챗봇 서비스입니다.</p>
<iframe style="height:540px; width:480px" src='https://webchat.botframework.com/embed/Hanmibot?s=fdqyiI6u6fQ.cwA.blw.lU6GkGmk72dyXSHkxH5OHjczsdddNJxLUM37jbXU6QA'></iframe>

